 

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');


 body{
    font-family: 'Poppins', sans-serif;
    width:1140px;
    margin:auto;
}



/*Extra worok */

.menu{background-color:rgb(187, 108, 183);
    text-align:center;
    margin:auto;
    width:1140px;
    border:1px solid rgb(238, 231, 231);
    border-radius: 30px;
    
    }
    
    
    .menu ul li a{display:block;
     padding:25px 45px;
     color:white;
    text-decoration:none;
    text-transform:uppercase;
    border-right:1px solid white;
    font-size:15px;}
    
    
    
    .menu li{ list-style-type: none;
     display: inline-block;
     margin-left:-5px;
     }
     
    
     .menu ul li:first-child a{border-left:1px solid white;}
    
     .menu ul li a:hover{background:rgb(110, 35, 85);}



/*class work start*/

h1{
    font-size: 50px;}



 .orage-color{color: orange;}


.flaxible-container{display: flex;
    margin-bottom: 150px;
  background:#fff;
    padding: 30px;
    border:1px solid rgb(223, 215, 215);
    border-radius:30px;}


.half-width{width: 50%;
    padding-left: 5%;}

 

.half-width img{ width: 80%;
    padding-left: 2%;}


.link-button{text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 20px;}



 

.dream-big{background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: left;}


.experience-item{ width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 13px;
    padding-top: 13px;
    border-radius: 40px;
    box-shadow: 10px 10px 40px grey;}


.experience-item img{width: 95%;
    padding-left: 0%;
    padding-right: 0%;
 border-radius:40px;}


.my-recipes{width: 40%;
    margin-left: 35%;
    padding-left: 50x;
    margin-bottom: 100px;
    padding-left: 13px;}


.experience-wow{width: 40%;
    margin-left: 10%;}



.orage-color{color: orange;}



.grey{color: grey;}




.containar{background-color: black; 
    padding-left: 400px;}



.color-to{color: rgb(255, 253, 253);}


/*Thank's you for your attention sir*/